/* hero section  */
.prep {
  background-color: #C8D6F0 !important;
}

.equation {
  background-color: #D9E5F7 !important;
}

.score {
  background-color: #00C853;
}

/* the challenge section */

.de-chalenge {
  background-color: #111827;
}