/* hero section  */


.hero-div {
  background-color: #E3E7F3 !important;
}

.star{
  width: 20px !important;
}

.prep {
  background-color: #C8D6F0 !important;
}

.equation {
  background-color: #D9E5F7 !important;
}

.score {
  background-color: #00C853;
}

.solve {
  background-color: #F2F2F7 !important;
}

/* the challenge section */

.de-chalenge {
  background-color: #111827;
}

.challenge-card {
  background-color: #1D2432 !important;
  color: white !important ;
  min-height:150px !important;
}

.feature-head {
  color: #30AA62 !important;
}

.feature-card {
  background-color:#F2F2F7 !important;
  min-height:200px !important;
}

.fire {
  width: 30px !important;
}

.streak {
  height: 80px !important;
  margin-right: 1rem !important;
}

/* exam section */
.avialable, .bi-check-circle {
  color: #80E3A9 !important;
}

.numbers {
  background-color: #0052CC !important;
}

.bi-star-fill {
  color: #FFCC00 !important;
}

.points {
  background-color: #D5EDE3!important;
  color: #0DCA5C !important;
}

.identity {
  font-size: x-small;
}
.identity1 {
  font-size: small;
}

footer {
  background-color: #111827 !important;
  color: white !important;
  overflow-x: hidden;
}
