/* hero section  */
.prep {
  background-color: #C8D6F0 !important;
}

.equation {
  background-color: #D9E5F7 !important;
}

.score {
  background-color: #00C853;
}

/* the challenge section */

.de-chalenge {
  background-color: #111827;
}

.challenge-card {
  background-color: #1D2432 !important;
  color: white !important ;
  min-height:150px !important;
}

.feature-card {
  background-color:#F2F2F7 !important;
  min-height:200px !important;
}